* text=auto

*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.tsmap text eol=lf
*.tsstp text eol=lf
*.tsvar text eol=lf
*.tsbnk text eol=lf

*.tsfrg text eol=lf
*.tsgde text eol=lf
*.tsoln text eol=lf
